/* Resetowanie podstawowych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylowanie body */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Styl nagłówka */
header {
    background-color: #4CAF50; /* Zielony kolor */
    color: white;
    padding: 40px 0;
    text-align: center;
}

/* Kontener wewnątrz header */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Stylowanie h1 i p */
h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Stylowanie sekcji projektów */
.projects {
    padding: 40px 0;
    background-color: #fff;
}

.projects h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

/* Karty projektów */
.project-card {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.project-card a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.project-card a:hover {
    text-decoration: underline;
}

/* Stylowanie formularza kontaktowego */
.contact {
    background-color: #f4f4f4;
    padding: 40px 0;
}

.contact h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact p {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

form label {
    margin-bottom: 5px;
    font-size: 1.1rem;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

/* Stylizacja stopki */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
}
